.widget {
    margin-bottom: 20px;
}

.widget .widget-header {
    cursor: move;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.widget-purple .widget-header {
    background-color: #6600cc;
}

.widget-blue .widget-header {
    background-color: #3399ff;
}

.widget-green .widget-header {
    background-color: #46a546;
}

.widget-white .widget-header {
    background-color: #fff;
}

.widget .widget-header h4{
    margin-top: 0;
    padding-top: 10px;
    margin-left: 15px;
    text-transform: uppercase;
}

.widget .widget-tools {
    position: absolute;
    top: 10px;
    right: 10px;
}

.widget .widget-tools i{
    cursor: pointer;
}